<div id="<%= dom_id task %>">
  <p>
    <strong>Task owner:</strong>
    <%= task.task_owner.username %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

</div>
