<div id="<%= dom_id task %>">

<ul class="list-group">
  <%if task.status == "pending"%>
    <li class="list-group-item list-group-item-primary"> 
  <%elsif task.status == "completed" %>
    <li class="list-group-item list-group-item-success"> 
  <%elsif task.status == "failed" %>
    <li class="list-group-item list-group-item-danger">
  <% end %> 
    <div>
      Task description: 
      <%= task.description %>
    </div>
    <div>
      Status: 
      <%= task.status %>
    </div>
    <div>
      <%if task.status == "pending" %>
        <%= button_to "Mark as Completed" %>  
      <% end %>
    </div>
    </li>
</ul> 
</div>
