<div id="<%= dom_id task %>">

  <div class="card-body">
    <h5 class="card-title"> <%= task.description%> </h5>
    <p class="card-text"> <%= task.status%> </p>
    <p class="card-text"> <%= task.created_at%> </p>
  </div>

</div>
