<meta name="viewport" content="width=device-width, initial-scale=1">
<body style="background-color: lightblue;">

  <div class="container text-center mb-3">
    <h1>
      <u>  Welcome to P.A.T.S! </u>
    </h1>
  </div>

  <div class="container text-center mb-3">
    <h2>Pet Accountability Task Support</h2>
  </div>

  <div class="container text-center mb-3">
    <%= image_tag "supportanimals.gif", alt: "animal1", class: "img-fluid animal1", style: "max-width: 50%;" %>
  </div>

  <div class = "container">

    <h3>Here's the idea....</h3>

    <p>
      For those who have trouble staying on track with tasks they got to work on! 
      Here, they can input tasks they want to work on to create a list and can check the status of them. 
      With the addition of a task pet for the user to help promote the initiative to work on their 
      tasks to keep their pets happy!
      To get started on your task journey, please consider signing up to create an account 
      if you haven't already. And start adding tasks that you want to work on to get your pet happy!
    </p>
  </div>

  <div class = "container text-center mb-3" >
    <%= link_to new_user_session_path, class: "nav-link" do %>
      <i class="fa-solid fa-cat fa-bounce"></i> 
      <b><u>
        Sign in
      </b></u>
    <% end %>

    <%= link_to new_user_registration_path, class: "nav-link" do %>
      <i class="fa-solid fa-dog fa-bounce"></i> 
      <b><u>
        Sign up
      </b></u>
    <% end %>
  </div>

</body>
