<h1>Welcome to P.A.T.S!</h1> 
<h2> Pet Accountability Task Support <h2>


<h3>Here's the idea....</h3>

<div>
  <p>
    For users who have trouble staying on track with tasks they got to work on! 
    Here, they can input tasks they want to work on to create a list and can check the status/progress of them. 
    With the addition of a task pet for the user to help promote the initiative to work on their 
    tasks to keep their pets happy!
    To get started on your task journey, please consider signing up to create an account 
    following the links if you haven't already. And start adding tasks that you want to work on~
  </p>
</div>




<div class = "container">
  <a href="/users/sign_up">Sign up</a>
  <a href="/users/sign_in">Sign in</a>
</div>
