<body style="background-color: lightblue;">
  <div class = "container">
    <h1>Welcome to P.A.T.S!</h1>

    <h3>Here's the idea....</h3>

    <p>
      For those who have trouble staying on track with tasks they got to work on! 
      Here, they can input tasks they want to work on to create a list and can check the status of them. 
      With the addition of a task pet for the user to help promote the initiative to work on their 
      tasks to keep their pets happy!
      To get started on your task journey, please consider signing up to create an account 
      if you haven't already. And start adding tasks that you want to work on to get your pet happy!
    </p>
  </div>
</body>
<div class="container text-center">
  <%= image_tag "supportanimals.gif", alt: "animal1", class: "img-fluid animal1" %>
</div>
