<h1>Welcome to Pet Task Tracker!</h1>



<h2>Here's the idea....</h2>

<div>
  <p>
    The idea of this project is for users who have trouble staying on track with tasks they got to work on! 
    Here, they can input tasks they want to work on to create a list and can check the status/progress of them. 
    With the feature of a task pet created for the user to help promote the initiative to work on their 
    tasks to keep their pets happy!
    To get started on your task journey, please consider signing up to create an account 
    following the links if you haven't already~
  </p>
</div>




<div>
  <a href="/users/sign_up">Sign up</a>
  <a href="/users/sign_in">Sign in</a>
</div>
