<h1>Tasks</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= button_to "Show this task", task_path(task), method: :get, class: "btn btn-light" %>
    </p>
  <% end %>
</div>
