<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="d-flex justify-content-center mb-3">
  <%= link_to "Edit this task", edit_task_path(@task) %> |
  <%= link_to "Check out tasks list", user_tasks_path(username: current_user.username) %>
</div>
<div class = "container mb-3" >
  <%= render @task %>
</div>

<br>
<div class="d-flex justify-content-center mb-3">
  <%= button_to "Destroy this task", @task, method: :delete, class: "btn btn-danger"  %>
</div>
