<div id="<%= dom_id pet %>">

  <div class="col">
    <%if pet.status == "pending" %>
      <div class="card text-bg-light">
    <%elsif pet.status == "happy" %>
      <div class="card text-bg-success">
    <%elsif pet.status == "sad" %>
      <div class="card text-bg-dark">
    <%end%>
          <div class= "card-header"> 
            Status: <%= pet.status%> 
          </div>
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title"><%= pet.name %></h5>
            <p class="card-text"> a motivational quote </p>
          </div>
    </div>
  </div>
</div>
  
