<div id="<%= dom_id pet %>">
  <p>
    <strong>Pet owner:</strong>
    <%= pet.pet_owner_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pet.status %>
  </p>

</div>
