<h1>Welcome to the Task Pet App!</h1>
<p>A task pet has found you! Let's create and name your new pet.</p>
  <%= button_to new_pet_path, method: :get, class: "btn btn-primary" do %>
    <i class="fa-solid fa-paw"></i>
    Name your task pet!
  <% end %>
