<div class = "container">
  <h2><%= @user.username.capitalize %>'s task list </h2>

  <% @user.own_tasks.each do |task| %>
    <%= render "tasks/task", task: task %>
     <p>
      <%= button_to "Show this task", task_path(task), method: :get, class: "btn btn-light" %>
    </p>
  <% end %>
</div>
