<h2>Log in</h2>

<form class="row g-3" id="new_user_session" action="<%= session_path(resource_name) %>" method="post">
  <div class="col-md-6">
    <label for="user_email" class="form-label">Email</label>
    <input type="email" class="form-control" id="user_email" name="user[email]" required="required" autocomplete="email">
  </div>
  <div class="col-md-6">
    <label for="user_password" class="form-label">Password</label>
    <input type="password" class="form-control" id="user_password" name="user[password]" required="required" autocomplete="current-password">
  </div>
  <div class="col-md-6">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="user_remember_me" name="user[remember_me]">
      <label class="form-check-label" for="user_remember_me">
        Remember me
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Log in</button>
  </div>
</form>

<div class = "container">
 <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
</div>
